body {
  background-color: #26c6da;
}

.list-item input[type="text"] {
  padding: 0.75rem 0;
  font: inherit;
  border: none;
  outline: none;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 100%;
  background-color: #fff;
}

.list-item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.list-item input[type="text"] {
  background: transparent;
  width: 100%;
}

.list-item:hover {
  background-image: linear-gradient(to bottom, #e5f9f7 0%, #f0fffd 100%);
}
